@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}
header{
    position: relative;
    width: 100%;
    height: 42.9vw;
}
.sec-header{
    width: 100%;
    height: 43vw;
    position: relative;
}
.star-uo-topo{
    width: 100%;
    height: 42.9vw;
    background-image: url("img/star\ uó\ topo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.star-war{
    display: flex;
    position: absolute;
    width: 100%;
    height: 6.7vw;
    justify-content: space-between;
    top: 23vw;
}
.star{
    position: absolute;
    left: 18.5%;
    width: 28%;
    height: 90vw;;
    background-image: url("img/star.png");
    background-size: 90%;
    background-repeat: no-repeat;
}
.wars{
    position: absolute;
    right: 5%;
    width: 29%;
    height: 90vw;
    background-image: url("img/wars.png");
    background-size: 96%;
    background-repeat: no-repeat;
}
.kylo-ren-banner-sem-fundo{
    width: 80%;
    height: 49vw;
    background-image: url("img/Kylo-Ren-banner\ sem\ fundo.png");
    background-repeat: no-repeat;
    background-size: 90%;
    position: absolute;
    top: 0px;
    left: 10%;
    transition: all 0.6s;
    z-index: 10;
}
.kylo-ren-banner-sem-fundo:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.grupo4{
    position: absolute;
    left: 80%;
    top: 32.5vw;
    width: 13%;
    height: 10vw;
    background-image: url("img/Grupo\ 4.png");
    background-size: 70%;
    background-repeat: no-repeat;
    text-decoration: none;
}
a:hover .grupo4{
    border: 2px solid black;
}

main{
    width: 100%;
    height: 241vw;
    position: relative;
    top: 0px;    
}
.grupo-vermelho{
    position: relative;
    left: 14.5vw;
    top: -2.2vw;
    width: 23%;
    height: 32vw;
    color: #FFFFFF;
    background-image: url("img/strom\ trupe\ red.png");
    background-size: 100%;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3vw 0;
}
.grupo-vermelho h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
    padding: 0 20% 0 20%;
    position: relative;
    text-align: center;
}
.grupo-vermelho p{
    position: relative;
    font-size: 1vw;
    padding: 0 3%;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.5;
}
.button {
    position: relative;
    border-radius: 4px;
    background: none;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    padding: 1.5vw 0.8vw;
    width: 14vw;
    margin: 0 20%;
    cursor: pointer;
}
.button span {
    position: absolute;
    top: 0.5vw;
    left: 3vw;
    font-size: 1.8vw;
    cursor: pointer;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1vw;
    transition: 0.5s;
}
.button:hover{
    transform: scale(1.1);
    border: solid 2px #D74430;
    background: #ffffff;
    opacity: 0.4;
    box-shadow: 0.5px 0.5px 5px;
}
.button:hover span {
    padding-right: 0.5vw;
    color: #D74430;
    opacity: 1;
}
.button:hover span:after {
    opacity: 1;
}
.sec-jogo{
    width: 100%;
    height: 85vw;
    position: relative;
}
.sta-uo-robot{
    position: absolute;
    left: 0vw;
    top: 0px;
    width: 44%;
    height: 76.9vw;
    background-image: url("img/sta\ uo\ robot.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 9;
}
.grupo-sobre-o-jogo{
    position: absolute;
    top: 9vw;
    left: 44%;
    width: 56%;
    height: 15vw;
    background-image: url("img/Grupo\ sobre\ o\ jogo.png");
    background-size: 91%;
    background-repeat: no-repeat;
}
.sobre-o-jogo-mobile {
    display: none;
}
.retangulo2 {
    position: relative;
    border: solid 2px #707070;
    top: 3vw;
    left: 14.7%;
    width: 80%;
    z-index: 15;
}
.lord-sifh2{
    position: absolute;
    top: 41vw;
    left: 14.7%;
    width: 47.5%;
    height: 39.5vw;
    background-image: url(img/lord\ sifh\ 2.png);
    background-size: 85%;
    background-repeat: no-repeat;
    z-index: 13;
    transition: all 0.6s;
}
.lord-sifh2:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.grupo7{
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    position: absolute;
    top: 43vw;
    left: 43.7%;
    width: 28.4%;
    height: 34vw;
    z-index: 14;
}
h2{
    font-weight: bolder;
    font-size: 2vw;
    padding-left: 13vw;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2.5vw;
}
.estrutura-de-jogo{
    position: relative;
    list-style: none;
    font-size: 1.4vw;
}
.estrutura-de-jogo li{
    margin: 1.5vw 1vw 0 0;
    padding: 1.5%;
}
.estrutura-de-jogo li:hover{
    background: #D74430;
    color: #FFFFFF;
    cursor: pointer;
}
.rey-star-wars{
    position: absolute;
    top: 43vw;
    left: 72.1%;
    width: 27.9%;
    height: 37.5vw;
    background-image: url(img/rey\ star\ wars.png);
    background-size: 72%;
    background-repeat: no-repeat;
    transition: all 0.6s;
    z-index: 13;
}
.rey-star-wars:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.sec-atributos{
    position: relative;
    top: -7.9vw;
    background-color: #2D2D2D;
    width: 100%;
    height: 134vw;
}
.p-atributos{
    font-family: "Sovereign","Regular";
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 2.5vw;
    font-weight: bold;
    position: absolute;
    top: 10vw;
    left: 10%;
}
.img-atributo{
    position: absolute;
    width: 90%;
    height: 95vw;
    top: 16vw;
    left: 5vw;
    display: flex;
}
.msg-novos-graficos{
    background-color: #FF5A56;
    position: absolute;
    opacity: 0.7;
    color: #ffffff;
    width: 100%;
    height: 30vw;
    top: -30vw;
    transition: 1.2s all;
}
.star-wars-battlefront {
    width: 50%;
    height: 30vw;
    position: relative;
    overflow: hidden;
}
.star-wars-battlefront:hover .msg-novos-graficos {
    top: 0;
}
.linha-top-right{
    position: absolute;
    width: 16%;
    height: 0.5vw;
    background-color: #FFFFFF;
    top: 2vw;
    left: 6%;
}
.linha-top-left{
    position: absolute;
    width: 1%;
    height: 7vw;
    background-color: #FFFFFF;
    top: 2vw;
    left: 6%;
}
.linha-bottom-left {
    position: absolute;
    width: 1%;
    height: 7vw;
    background-color: #FFFFFF;
    bottom: 2.5vw;
    right: 6%;
}
.linha-bottom-right{
    position: absolute;
    width: 16%;
    height: 0.5vw;
    background-color: #FFFFFF;
    right: 6%;
    bottom: 2.5vw;
}
.msg-novos-graficos h3{
    position: absolute;
    top: 4vw;
    left: 14%;
    font-size: 3vw;
    padding-right: 50%;
    text-transform: uppercase;
}
.msg-novos-graficos p {
    position: absolute;
    top: 12vw;
    left: 14%;
    right: 14%;
    font-size: 1.6vw;
}
.msg-novos-graficos button{
    position: absolute;
    top: 22.7vw;
    left: 6%;
    padding: 1vw 4vw;
    background: none;
    border: solid 5px #FFFFFF;
    color: #FFFFFF;
    font-size: 1.7vw;
    transition: 0.6s all;
}
.msg-novos-graficos button:hover{
    background-color: #D74430;
    transform: scale(1.1);
    cursor: pointer;
}
.star-wars-battlefront img{
    width: 100%;
    height: 100%;
}
.grafico-nave, .soldado-robo{
    display: flex;
    width: 25%;
    height: 30vw;
    flex-direction: column;
}
.grafico-nave img, .soldado-robo img{
    width: 100%;
    height: 100%;
}
.star-wars-stormtrooper{
    width: 90%;
    height: 60vw;
    position: absolute;
    top: 50vw;
}
.star-wars-stormtrooper img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 5vw;
}
.p-normas-especiais{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    width: 45%;
    font-size: 1vw;
    text-align: end;
    position: absolute;
    top: 111vw;
    right: 5%;
}
.p-jogar{
    font-family: 'sovereign-regular-regular',sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 2.5vw;
    font-weight: bold;
    position: absolute;
    top: 122vw;
    left: 41%;
}
.sec-down-corre-explo{
    position: relative;
    top: -8vw;
    width: 100%;
    height: 30vw;
}
.capa-preta{
    width: 29%;
    height: 44vw;
    position: relative;
    left: 5%;
    top: -22vw;
    transition: all 0.6s;
}
.capa-preta:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.capa-preta img {
    position: absolute;
width: 100%;
}
.escolha-opcao{
    position: absolute;
    top: 2vw;
    width: 65%;
    height: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    right: 0%;    
}
.download, .escolher, .explorar{
    background-color: #FFFFFF;
    font-family: 'sovereign-regular-regular',sans-serif;
    width: 24%;
    height: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.number:hover{
    font-weight: bolder;
    cursor: pointer;
}

.number{
    font-size: 2vw;
}
.barra-carregamento{
    background-color: black;
    width: 100%;
    height: 3.5vw;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    transition: all 0.6s;
}
.barra-carregamento:hover{
    background: #FF5A56;
    cursor: pointer;
}
.text{
    font-size: 1vw;
    padding: 0 17% 0 17%;
}
.text:hover{
    font-weight: bolder;
    cursor: pointer;
}
.linha{
    background-color: black;
    width: 35%;
    height: 0.3vw;
}
.linha:hover {
    background-color: #FF5A56;
    cursor: pointer;
}

.darth-vai-na-web{
    position: relative;
    width: 52%;
    height: 44vw;
    left: 90%;
    top: -16%;
}
footer{
    width: 100%;
    height: 42vw;
}
.sec-footer{
    background-color: #FF5A56;
    position: relative;
    width: 67%;
    height: 40vw;
}
.darth-vai-na-web img{
    position: absolute;
    width: 100%;
    
}
.darth-vai-na-web .msg-vai-na-web{
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 5%;
}
.darth-vai-na-web:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.6s;
}
.aplicativo-footer{
    width: 50%;
    height: 31vw;
    position: relative;
    top: -38vw;
    left: 15%;
    display: flex;
    flex-direction: column;
}
.p-aplicativo{
    font-family: 'sovereign-regular-regular',sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: bold;
    padding-bottom: 1.5vw;
}
.msg-aplicativo{
    font-family: 'Open Sans',sans-serif;
    width: 83%;
    color: #FFFFFF;
    font-size: 1vw;
    padding-bottom: 1.5vw;
}
.store{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.store img{
    width: 46%;
    transition: all 0.6s;
}
.store img:hover{
    box-shadow: 2px 2px 10px 1px #FFFFFF;
    transform: scale(1.1);
    cursor: pointer;
}
.linha2{
    background-color: #D74430;
    width: 100%;
    height: 0.3vw;
    margin-bottom: 1vw;
}
.esta-uo{
    width: 45%;
}
.msg-politica-internacional{
    font-family: 'Open Sans',
    sans-serif;
    width: 83%;
    color: #FFFFFF;
    font-size: 1vw;
    padding-top: 1.5vw;
}
@media(max-width: 500px){
    body{
        background-image: url(img/cabeçalho\ mobile.png);
        background-repeat: no-repeat;
        background-size: 100%;
        object-fit: cover;
        max-width: 1500px;
    }
    main {
        width: 100%;
        height: 590vw;
        position: relative;
        top: 0px;
    }
    .star-uo-topo {
        background-image: none;
    }
    .star {        
        background-image: none;      
    }
    .wars {
        background-image: none;
    }
    
    .kylo-ren-banner-sem-fundo {
        background-image: none;
    }
    .grupo4 {
        position: absolute;
        left: 80%;
        top: 39.5vw;
        width: 13%;
        height: 20vw;
        background-image: none;
        background-size: 100%;
        background-repeat: no-repeat;
        text-decoration: none;
    }
    .grupo-vermelho {
        position: absolute;
        left: 30%;
        top: 15vw;
        width: 60%;
        height: 86vw;       
    }
    .grupo-vermelho h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 8vw;
        padding: 0 20% 0 20%;
        position: relative;
        text-align: center;
    }    
    .grupo-vermelho p {
        position: relative;
        font-size: 3vw;
        padding: 0 10%;
        font-family: 'Courier New', Courier, monospace;
        opacity: 0.5;
    }    
    .button {
        border-radius: 7px;
        padding: 4vw 14vw;
        width: 14vw;
        margin: 0 26%;
    }    
    .button span {
        position: absolute;
        top: 2.4vw;
        left: 3vw;
        font-size: 3vw;
        text-transform: uppercase;
    }    
    .button span:after {
        right: -3vw;
    }    
    .button:hover span:after {
        opacity: 1;
    }
     .grupo-sobre-o-jogo {
        top: 105vw;
        left: 30%;
        width: 66%;
        height: 35vw;
        background-image: url("img/star\ wars\ frente\ de\ batalha.png");
    }
    .sobre-o-jogo-mobile{
        display: block;
        position: relative;
        top: 144vw;
        width: 80%;
        height: 23vw;
        left: 10%;
    }
    .h3-sobre-o-jogo{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 3.5vw;
        text-align: end;
    }
    .linha4{
        background-color: black;
        position: absolute;
        right: 0%;
        width: 45%;
        height: 0.7vw;            
    }
    .text-sobre-o-jogo-mobile{
        font-size: 3.3vw;;
    }
    .sta-uo-robot {
        background-image: none;  
    }
    .sec-jogo {
        width: 100%;
        height: 180vw;
        position: relative;
    }
    .retangulo2 {
        position: relative;
        top: 150vw;
        left: 10%;
        right: 10%;
        width: 80%;
        height: 0.3vw;
        background-color: gray;
        z-index: 15;
    }    
    .lord-sifh2 {
        top: 180vw;
        left: 3%;
        width: 47.5%;
        height: 39.5vw;
    }
    .grupo7 {
        top: 180vw;
        left: 37%;
        width: 35%;
        height: 37.5vw;
    }   
    h2 {
        font-weight: bolder;
        font-size: 3vw;
        padding-left: 8vw;
    }  
    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5vw;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .text-sobre-o-jogo-mobile{
        position: absolute;
        top: 6vw;
        text-align: end;
    }    
    .estrutura-de-jogo {
        font-size: 1.6vw;
        width: 100%;
        height: 22vw;
    }
    .estrutura-de-jogo li{
        padding: 0vw 0vw;
    }
    .rey-star-wars {
        position: absolute;
        top: 180vw;
        left: 72.1%;
        width: 27.9%;
        height: 37.5vw;
        background-image: url(img/rey\ star\ wars.png);
        background-size: 72%;
        background-repeat: no-repeat;
        z-index: 13;
    }    
    .sec-atributos {
        position: relative;
        top: 30vw;
        background-color: #2D2D2D;
        width: 100%;
        height: 296vw;
        display: flex;
    }    
    .p-atributos {
        left: 43%;
        right: 43%;
        font-size: 4vw;
    }    
    .img-atributo {
        position: relative;
        width: 80%;
        height: 196.5vw;
        top: 18vw;
        left: 10%;
        right: 10%;
        flex-direction: column;
    }
    .sec-atributos img{
        position: relative;

    }
    .star-wars-battlefront {
        position: relative;
        width: 100%;
        height: 50vw;
    }
    .star-wars-battlefront img {
        position: relative;
        width: 100%;
        height: 100%;
    }    
    .grafico-nave,
    .soldado-robo {
        display: flex;
        width: 100%;
        height: 50vw;
        flex-direction: column;
    }   
    .star-wars-stormtrooper{
        width: 80%;
        height: 51vw;
        position: absolute;
        top: 215vw;
        left: 10%;
        right: 10%;
    }    
    .star-wars-stormtrooper img {
        position: absolute;
        width: 100%;
        height: 50vw;
        left: 0;
    }    
    .p-normas-especiais {
        width: 60%;
        font-size: 2vw;
        top: 266vw;
        right: 10%;
    }    
    .p-jogar {
        color: #FFFFFF;
        font-size: 4vw;
        font-weight: bold;
        position: absolute;
        top: 282vw;
        left: 55%;
    }
    
    .sec-down-corre-explo {
        position: relative;
        top: -8vw;
        width: 100%;
        height: 30vw;
        display: flex;
    }
    
    .capa-preta {
        width: 100%;
        height: 97vw;
        position: relative;
        top: 22vw;
        left: -26%;
        z-index: 14;
    }    
    .capa-preta img {
        position: relative;
        width: 119%;
    }    
    .escolha-opcao {
        position: relative;
        top: 38vw;
        right: 15%;
        width: 80%;
        height: 78vw;
        display: flex;
        flex-direction: column;
    }
    .download,
    .escolher,
    .explorar {
        font-family: 'sovereign-regular-regular', sans-serif;
        width: 80%;
        height: 24vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }    
    .number {
        font-size: 5vw;
    }    
    .barra-carregamento {
        background-color: black;
        width: 100%;
        height: 8vw;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        transition: all 0.6s;
    }          
    .text {
        font-size: 2.7vw;
        padding: 0 15%;
    }
    .text:hover {
        font-weight: bolder;
        padding: 0 13%;
    }    
    .linha {
        background-color: black;
        width: 35%;
        height: 1.2vw;
    }    
    .linha:hover {
        background-color: #FF5A56;
        cursor: pointer;
    }
    .darth-vai-na-web {
        position: relative;
        width: 80%;
        height: 45vw;
        left: 10%;
        top: 110vw;
        z-index: 13;
    }    
    .sec-footer {
        background-color: #FF5A56;
        position: relative;
        width: 100%;
        height: 160vw;
    }    
    .darth-vai-na-web img {
        position: absolute;
        width: 100%;
    }
    .msg-vai-na-web {
        right: 25%;
        left: 25%;
        top: 105vw;
    }
    .darth-vai-na-web:hover {
        transform: scale(1.2);
        cursor: pointer;
        transition: all 0.6s;
    }    
    .aplicativo-footer {
        width: 80%;
        height: 12vw;
        top: -38vw;
        left: 10%;
        right: 10%;
    }    
    .p-aplicativo {
        font-size: 12vw;
        text-align: center;
    }    
    .msg-aplicativo {
        width: 100%;
        color: #FFFFFF;
        font-size: 3vw;
        padding-bottom: 4vw;
    }    
    .store {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vw;
    }    
    .store img {
        width: 46%;
        transition: all 0.6s;
    }    
    .store img:hover {
        box-shadow: 2px 2px 10px 1px #FFFFFF;
        transform: scale(1.1);
        cursor: pointer;
    }    
    .linha2 {
        border: solid 2px #D74430;
        width: 100%;
        height: 0.3vw;
        margin-bottom: 8vw;
    }    
    .esta-uo {
        position: relative;
        width: 45%;
        left: 27%;
        right: 27%;
    }    
    .msg-politica-internacional {
        width: 100%;
        color: #FFFFFF;
        font-size: 3vw;
        padding: 5vw 0;
    }
}